@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans Condensed', cursive;
    background-color: #171a1b;
}

/* Game Area */

.base {
    background-color: #171a1b;
    padding-top: 5px;
}

.title {
    color: white;
    text-align: center;
    font-size: 37px;
    margin-top: 10%;
    margin-bottom: 23px;
}

.wrapper {
    margin-top: 16px;
    margin-bottom: 23px;
}

.display {
    color: white;
    font-size: 37px;
    text-align: center;
    padding-top: 37px;
}

.hide {
    display: none;
}

.game-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    justify-content: space-evenly;
    max-width: 300px;

}

.game-tile {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: #c42655;
}

.playerO {
    color: #498AFB;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 0em;
    cursor: pointer;
}

.restart {
    background-color: #498AFB;
}

#reset {
    background-color: #c42655;
}

/* Webpage Description - How To Play */

.game-information {
    display: flex;
    justify-content: center;
    color: aliceblue;
    margin: 1%;
    list-style: none;
    font-size: medium;
    text-align: center;
    line-height: 1.5;
}

/* Social Media Links */

  .wrapper{
    display: flex;
    text-align: center;
    justify-content: center;
    color: #c42655;
  }
  .wrapper .icon{
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }